*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    color: #000000;
}
nav .logo img{
    object-fit: contain;
    max-width: 150px;
    padding-top: 2px;
}
nav{
    background-color: #e9dede;
    display: flex;
    padding: 0 10px;
    justify-content: space-between; 
}
nav .action{
    display: flex;
    margin: 10px 20px;
}
nav .action .home{
    padding: 4px 14px;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 10px;
}
nav .action .home:hover{
    color:#111;
    transition: 0.8ms;
}
nav .action .aboutus{
    padding: 4px 14px;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 10px;
}
nav .action .aboutus:hover{
   color:#111;
    transition: 0.8ms;
}
nav .action .contactus{
    padding: 4px 14px;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 10px;
}
nav .action .contactus:hover{
    color:#111;
    transition: 0.8ms;
}
.title .video {
    max-width: 1%;

}